@import "../variables";
@import "../mixin";

.main {
  &__container {
    display: grid;
    justify-content: space-between;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, 200px);
    max-width: 1024px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
