@import "../variables";
@import "../mixin";

.header {
  @include flex-space-between;

  height: 60px;
  padding: 0 50px;
  align-items: center;

  font-size: $normal-font-size;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  
  &__container {
    margin-bottom: 50px;
  }
}
