@import "../variables";
@import "../mixin";

.header {
  display: grid;
  align-items: center;
  justify-items: end;

  grid-template-rows: 60px;
  grid-template-columns: 40px 1fr;
  padding: 0 50px;

  font-size: $normal-font-size;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__container {
    margin-bottom: 50px;
  }
}
